.navbar-brand{
  font-family: 'Great Vibes', cursive;
}
.navbar-inverse .navbar-brand {
  color: #f3aa15;
  font-family: 'Great Vibes', cursive;
  background-color: #3F51B5;
}
.navbar-inverse {
    background-color: #3F51B5;
    border-color: #080808;
}
